@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,800|Exo:100,300,400,500,700,800");

/*---repeat the tiled image to cover the whole background of any screen

apply this to override any other possible uneven margins and paddings*/

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	background: url("./Images/backgroundtile.jpg") repeat;
	color:#ffffff;
}

/*----set the text transform to be uppercase
set the general-sub to 'Exo' font imported earlier--*/

.uppercase {
	text-transform: uppercase;
}

.page-header>text-uppercase {

	text-transform: uppercase;
	color: #c48b1a;
	/*  Electric blue for band member section*/
}

.general-sub {
	font-family: "Exo", "vintage";
}

.h5 general-sub {
	font-size: 15px;
}

h2 {
	margin-top:10px;
	padding-top: 10px;
	font-size: 40px;
	text-align: center;
	color: Red;
	font-family: fantasy;
}

h3 {
	font-size: 30px;
	text-align: center;
	color: Red;
	font-family: fantasy;
}

.inline-block{
	display: inline-block;
}

/*--- This width of 100% will apply to all screen widths on all 
images but allows the it to only go as wide as the original image to keep quality.*/

/*--------------------------Background Cover Image*/

.bglogo img {
	/* Full height */
	padding: 0;
	margin-top:12px;
	max-width: 100%;
	/* Center and scale the image nicely */
	height: auto !important;
	background-size: cover;
	text-align: center;
	position: relative;
	background-repeat: no-repeat;

}


/*--------------------------Menu bar-------*/

.menubar {
	color: #966f33;
	opacity: 2.5;
	text-align: center;
	font-size-adjust: inherit;
	font-family: fantasy;
	margin-top: 5px;
}

.menubutton {
	background: #c48b1a;
	/* Golden colour for menu buttons before hover*/
	height: 55px;
	/* use em to make size in relation to font size or % of the page size*/
	width: 24%;
	/* 5 buttons at 24% of width of screen with enough room for margin space*/
	margin: 0 0.5%;
	float: left;
}

/* Target span text ie. Home music event and contact*/

.menubar span {
	display: block;
	width: 100%;
	padding-top: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 2px;
}

/* Target font awesome icons */

.menubutton a {
	font-size: 18px;
	width: 100%;
	text-decoration: none;
	color: #333333;
	height: 45px;
}

/* Target the icons themselves adjusting their position size etc
display as block so that it occupies parent container*/

.menubutton a i {
	padding-top: 5px;
	display: block;
	color: #333333;
}

/*--------------------------Hvr.css* ----- */

/*Targeting the hvr class- set the default colour using rgba which is colours & transparency*/

.hvr-sweep-to-bottom:before {
	background: rgba(0, 0, 0, 0.25);
	height: 75px;
}


/*---------------------------- Slideshow&images Events page */

.carousel-inner {
	width: 650px;
	height:550;
	padding-top: 15px;
	margin-left: 25%;
	margin-bottom:100px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}


.general-sub p {
	font-size: 38px;
}

/*Images for band members events*/

.media-center {
	text-align: center;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.container-wrapper-events {
	height: 50%;
	position: relative;
	}

.blockquote {
	margin: 0;
}

.blockquote p {

	margin:0px;
	font-size: 25px;
	font-style: italic;
	text-align: justify;

}

.block text-uppercase {
	font-size: 15px;
}

/*Images for band members info*/

.rounded-images {
	text-align: left;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

/*---------------------------- container for slide show in events page and videos in music page*/
.content-container {
	height: 100%;
	text-align: center;
	margin-top: 5%;
	padding-top: 25px;
	padding-bottom: 75px;
}

/*---------------------------MUSIC PAGE----flexboxes for videos and images*/

.container-wrapper-home {
	height: 90%;
	width: 100%;
	position: relative;
	color: #fff;
	text-align: center;
	overflow: scroll;
	margin:0px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 150px;

}

.flex-container>div {
	background-color: #cf1407;
	margin: 10px;
	padding: 5px;
	font-size: 16px;
}

.flex-container p {
	font-family: fantasy;
	font-weight: bold;
	color: #121212;
	font-size: 18px;
}

/* ---------------------------Page Headers events---------------*/

.page-header {
	font-size: 18px;
	margin: 0;
	text-align: center;
	color: red;
}


/*--------------------------Contact form------*/

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: black;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.container {
	color:black;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-bottom: 150px;
}

/*-------------------------FOOTER-*/

/*------------------------------footer container  10/02/19 */
.container-fluid {
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;}

/*--style the font for the social links*/

.list-inline li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

/*minimum height of 120px.
Now it can grow beyond that if for some reason the text extends or pushes below or 
our container pushes beyond the 120px. But if not it will default to 120px again providing that kind of visual symmetry, 
visual balance between the footer and say, the menu items above.*/

footer {
	position: static;
    width: 100%;
    bottom: 0;
    left: 0; 
    background-color:#cf1407;
	color: #fafafa;
	max-height: 120px;
	margin: 0;
}

/*adding some styles to our icons
and our text and the display itself.
 footer .subscribe i, will access the font awesome icon -
It's a bit small.*/

footer .subscribe i {
	color: #cf1407;
	text-align: center;
	font-size: 12px;
	padding-left: 5px;
}

/*Create our custom class called social-links
So the idea is we're going to use a border to create a perfect circle around the edges*/

.social-links {
	padding-bottom: 15px;
}

.social-links li a i {
	width: 35px;
	height: 35px;
	padding: 12px;
	border-radius: 50%;
	font-size: 18px;
	line-height: 7px;
	text-align: center;
	color: #fafafa;
	background: #8f8f8f;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
	background-color: #cf1407;

}

#footer-details {
	margin: 20px;
}


/*-------------------------Media Queries---*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.bglogo img {
		width: 85%;
		margin-left: 7.5%;
		text-align: center;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media screen and (min-width:600px) {
	.bglogo img {
		width: 85%;
		margin-left: 7.5%;
		text-align: center;
	}
	.blockquote p {
		font-size: 30px;
		color: #FEE830;
		/*gold*/
	}
	.menubar span {
		font-size: 1em;
	}
	.menubutton a {
		font-size: 1.5em;
		height: 75px;
	}
	.menubutton {
		background: #c48b1a;
		/* Royal blue colour for menu buttons in mobile*/
		height: 75px;
	}
	.flex-container>div>iframe {
		width: 225px;
		height: 225px;
		font-size: 24px;
	}
	.flex-container p {
		font-size: 1.2em;
		text-align: center;
	}


	footer .subscribe i {
		color: #c48b1a;
		/*gold*/
	}
	.social-links li a i:hover {
		background-color: #c48b1a;

	}
}

@media screen and (max-width:800px) {
	.bglogo img {
		width: 85%;
		margin-left: 7.5%;
		text-align: center;
	}
	
	.menubar {
		color: #93b0c3;
		/*Darkgrey*/
	}
	.menubutton {
		background: #cf1407;
		/* Fire red colour for menu buttons in mobile*/
	}
	.menubar span {
		font-size: 14px;
		font-weight: 100;
		letter-spacing: 1.5px;
	}
}

@media screen and (min-width:1200px) {
	.bglogo img {
		width: 85%;
		margin-left: 7.5%;
		text-align: center;
	}

	.menubar span {
		font-size: 1em;
		letter-spacing: 1.5px;
	}
	.menubutton a {
		font-size: 1.5em;
		height: 75px;
	}
	.menubutton {
		background: #5878ea;
		/* Royal blue colour for menu buttons for laptop*/
		height: 75px;
	}

	.flex-container>div>iframe {
		width: 225px;
		height: 225px;
		font-size: 24px;
	}
	.flex-container p {
		font-size: 1.2em;
		text-align: center;
	}

	footer .subscribe i {
		color: #5878ea;
		text-align: center;
		font-size: 18px;
		padding-left: 5px;

	}

	.social-links li a i:hover {
		background-color: #5878ea;

	}
}
