@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,800|Exo:100,300,400,500,700,800");

/*---repeat the tiled image to cover the whole background of any screen---*/

/*---apply this to override any other possible uneven margins and paddings*/

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	background: url("./Images/backgroundtile.jpg") repeat;
}

/*----set the text transform to be uppercase
set the general-sub to 'Exo' font imported earlier--*/

.uppercase {
	text-transform: uppercase;
}

.page-header>text-uppercase {

	text-transform: uppercase;
	color: #c48b1a;
	/*  Electric blue for band member section*/
}

.general-sub {
	font-family: "Exo", "vintage";
}

.h5 general-sub {
	font-size: 18px;
}

/*--- This width of 100% will apply to all screen widths on all 
images but allows the it to only go as wide as the original image to keep quality.*/

/*--------------------------Background Cover Image*/

.bglogo {
	/* Full height */
	max-height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*--------------------------Menu bar-------*/

.menubar {
	color: #966f33;
	opacity: 2.5;
	text-align: center;
	font-size-adjust: inherit;
	font-family: fantasy;
	margin-top: .5%;
}

.menubutton {
	background: #c48b1a;
	/* Golden colour for menu buttons before hover*/
	height: 45px;
	/* use em to make size in relation to font size*/
	width: 24%;
	/* 5 buttons at 24% of width of screen with enough room for margin space*/
	margin: 0 0.5%;
	float: left;
}

/* Target span text ie. Home music event and contact*/

.menubar span {
	display: block;
	width: 100%;
	padding-top: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 2px;
}

/* Target font awesome icons */

.menubutton a {
	font-size: 12px;
	width: 100%;
	text-decoration: none;
	color: #333333;
	height: 45px;
}

/* Target the icons themselves adjusting their position size etc
display as block so that it occupies parent container*/

.menuitem a i {
	padding-top: 5px;
	display: block;
	color: #333333;
}

/*--------------------------Hvr.css* ----- */

/*Targeting the hvr class- set the default colour using rgba which is colours & transparency*/

.hvr-sweep-to-bottom:before {
	background: rgba(0, 0, 0, 0.25);
	height: 75px;
}

/*---------------------------flexboxes for videos and images*/

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-container>div {
	background-color: #cf1407;
	margin: 10px;
	padding: 5px;
	font-size: 16px;
}

.flex-container p {
	font-family: fantasy;
	color: #333;
	font-size: 12px;
}

/*------------------------ Containers */

.container-wrapper {
	height: 100%;
	position: relative;
	margin-top: 20px;
	margin-bottom: 25px;
	color: blue;
}

.container-wrapper-events {
	height: 100%;
	margin-top: 20px;
	margin-bottom: 25px;
	color: red;
}

.content-container {
	text-align: center;
	margin-top: 60px;
	padding-top: 25px;
	padding-bottom: 75px;
}

/* -----------------------Block dividers */

.blockquote p {
	font-size: 25px;
}

/* ---------------------------Page Headers */

.page-header {
	margin-top: 150px;
	margin-bottom: 0;
	border-bottom: 0;
	text-align: center;
}

.page-header h2 {
	margin-top: 0;
}

/*-----------------------Images for band members info*/

.rounded-images {
	vertical-align: middle;
	width: 200px;
	height: 200px;
	border-radius: 45%;
	margin-left: 25px;
}

.blockquote {
	margin: 0;
	background-color: #c48b1a;
}

/* -------------Image Gallery on Events page*/

* {
	box-sizing: border-box;
}

.mySlides {
	display: none
}

.slide-images {
	vertical-align: middle;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	padding: 0 15px;
}

/*---------------------------- Slideshow Events page */

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 22px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
	color: #fff;
	font-size: 25px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
	color: #fff;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/indicators */

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 10px 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation from W3schools.com */

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
	.prev,
	.next,
	.text {
		font-size: 11px
	}
}

/*--------------------------Music page section audio*/

#audioplayer {
	width: 480px;
	height: 75px;
	margin: 50px auto auto auto;
	border: solid;
	text-align: center;
	background-color: rgba(5, 173, 13, 0.49);
}

#pButton {
	height: 60px;
	width: 60px;
	border: none;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	outline: none;
}

.play {
	background: url('Play_button.png');
}

.pause {
	background: url('Pause_button.png');
}

#timeline {
	width: 400px;
	height: 20px;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
	border: black 1px solid;
	display: block;
	background-color: rgb(43, 194, 83);
	background-image: linear-gradient( center, bottom,
	rgb(43, 194, 83) 37%,
	rgb(84, 240, 84) 69%);
	box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
	inset 0 -2px 6px rgba(0, 0, 0, 0.4);
	position: relative;
}

#playhead {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0, 1);
}

#volume_control {
	margin: auto;
	width: 50%;
}

#rngVolume_label {
	vertical-align: middle;
}

#rngVolume {
	margin-top: 8px;
	vertical-align: middle;
}

/*-------------------------EVENTS---------*/

.mySlides {
	display: none;
}

.display-bottommiddle {
	margin-top: 10px;
	margin-bottom: 0;
	border-bottom: 0;
	text-align: center;
	font-size: 12px;
}

.slideshow-title {
	font-size: 28px;
	text-align: center;
}

.block-location {
	font-family: fantasy;
	font-size: 25px;
	text-align: center;
}

.general-sub p {
	font-size: 38px;
}

/*-------------------------FOOTER-*/

/*--style the font for the social links*/

.list-inline li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

/*minimum height of 120px.
Now it can grow beyond that if the text if for some reason the About Me text extends or pushes below or 
our pushes beyond the 120px. But if not it will default to 120px again providing that kind of visual symmetry, 
visual balance between the footer and say, the menu items above.*/

footer {
	background-color: #525252;
	color: #fafafa;
	min-height: 120px;
	margin: 0;
}

/*adding some styles to our icons
and our text and the display itself.
 footer .subscribe i, will access the font awesome icon -
It's a bit small.*/

footer .subscribe i {
	color: #cf1407;
	text-align: center;
	font-size: 12px;
	padding-left: 5px;
}

/*Create our custom class called social-links
So the idea is we're going to use a border to create a perfect circle around the edges*/

.social-links {
	padding-bottom: 15px;
}

.social-links li a i {
	width: 35px;
	height: 35px;
	padding: 12px;
	border-radius: 50%;
	font-size: 18px;
	line-height: 7px;
	text-align: center;
	color: #fafafa;
	background: #8f8f8f;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
	background-color: #cf1407;

}

#footer-details {
	margin: 20px;
}

/*-------------------------Media Queries---*/

@media screen and (max-width:800px) {
	.menubar {
		color: #93b0c3;
		/*Darkgrey*/
	}
	.menubutton {
		background: #cf1407;
		/* Fire red colour for menu buttons in mobile*/
	}
	.menubar span {
		font-size: 14px;
		font-weight: 100;
		letter-spacing: 1.5px;
	}
}

@media screen and (min-width:800px) {

	.menubar span {
		font-size: 1em;
	}
	.menubutton a {
		font-size: 1.5em;
		height: 75px;
	}
	.menubutton {
		background: #c48b1a;
		/* Royal blue colour for menu buttons in mobile*/
		height: 75px;
	}
	.bglogo img {
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		padding: 0 15px;
	}

	footer .subscribe i {
		color: #c48b1a;
		/*gold*/
	}
	.social-links li a i:hover {
		background-color: #c48b1a;

	}
}

@media screen and (min-width:1200px) {
	.menubar span {
		font-size: 1em;
		letter-spacing: 1.5px;
	}
	.menubutton a {
		font-size: 1.5em;
		height: 75px;
	}
	.menubutton {
		background: #5878ea;
		/* Royal blue colour for menu buttons for laptop*/
		height: 75px;
	}
	.bglogo img {
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		padding: 0 15px;
	}
	.flex-container>div>iframe {
		width: 225px;
		height: 225px;
		font-size: 24px;
	}
	.flex-container p {
		font-size: 1.2em;
		text-align: center;
	}

	footer {
		background-color: #cf1407;
		color: #121212;
		min-height: 115px;
		font-size: 18px;
		margin: 0;
	}

	footer .subscribe i {
		color: #5878ea;
		text-align: center;
		font-size: 18px;
		padding-left: 5px;

	}

	.social-links li a i:hover {
		background-color: #5878ea;

	}
}
