@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,800|Exo:100,300,400,500,700,800");

/*---repeat the tiled image to cover the whole background of any screen---*/
/*---apply this to override any other possible uneven margins and paddings*/
body, html {
    height: 100%;
    margin: 0;
    padding:0;
    background: url("/Assets/Images/backgroundtile.jpg") repeat;   
}

/*----set the text transform to be uppercase
set the general-sub to 'Exo' font imported earlier--*/

.uppercase {
	text-transform: uppercase;
}

.general-sub {
	font-family: "Exo", "vintage";
}

.h5>p{
	font-size: 10px;
	
}

/*--- This width of 100% will apply to all screen widths on all 
images but allows the it to only go as wide as the original image to keep quality.*/

img{
	max-width:100%;
	
	}

/*--------------------------Background Cover Image*/

.bglogo {
    /* Full height */
    height: 50%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}	

/*--------------------------Menu bar-------*/

.menubar{
	color:#966f33;
	opacity:1.5;
	text-align:center;
	font-size-adjust: inherit;
	font-family:fantasy;
	margin-top:.5%;
}

.menubutton{
	background:#c48b1a;	/* Golden colour for menu buttons before hover*/
	height:45px;        /* use em to make size in relation to font size*/
	width:24%;			 /* 5 buttons at 24% of width of screen with enough room for margin space*/
	margin:0 0.5%;
	float: left;
}

/* Target span text ie. Home music event and contact*/

.menubar span {
	display: block;
	width: 100%;
	padding-top: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 100;
	letter-spacing: 2px;
}

/* Target font awesome icons */

.menubutton a {
	font-size:1.5em;
	width: 100%;
	text-decoration: none;
	color: #333333;
	height:75px;
}

/* Target the icons themselves adjusting their position size etc
display as block so that it occupies parent container*/

.menuitem a i {
	padding-top: 5px;
	display: block;
	color: #333333;
}
/*--------------------------Hvr.css* ----- */

/*Targeting the hvr class- set the default colour using rgba which is colours & transparency*/

.hvr-sweep-to-bottom:before {
	background: rgba(0, 0, 0, 0.25);
	height: 75px;
}
/*---------------------------flexboxes for videos and images*/

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content:center;
  background: url("/Assets/Images/backgroundtile.jpg") repeat;
}

.flex-container > div {  
  background-color: #cf1407;
  margin: 10px;
  padding: 5px;
  font-size: 16px;
}

.flex-container p{
	font-family: fantasy;
	color:#333;
	font-size:12px;
}

/*-------------------------FOOTER-*/
/*--style the font for the social links*/

.list-inline li {
	display: inline-block;
	padding-left:5px;
	padding-right:5px;
}

/*--------------------------Footer----- */

/*minimum height of 120px.
Now it can grow beyond that if the text if for some reason the About Me text extends or pushes below or 
our pushes beyond the 120px. But if not it will default to 120px again providing that kind of visual symmetry, 
visual balance between the footer and say, the menu items above.*/

footer {
	background-color: #525252;
	color: #fafafa;
	min-height: 150px;
	margin: 0;
}

/*adding some styles to our icons
and our text and the display itself.
 footer .subscribe i, will access the font awesome icon -
It's a bit small.*/

footer .subscribe i {
	color: #fafafa;
	text-align: center;
	font-size: 18px;
	padding-left: 5px;

}

/*Create our custom class called social-links
So the idea is we're going to use a border to create a perfect circle around the edges*/

.social-links {
	padding-bottom: 15px;

}

.social-links li a i {
	width: 32px;
	height: 32px;
	padding: 12px;
	border-radius: 50%;
	font-size: 13px;
	line-height: 7px;
	text-align: center;
	color: #fafafa;
	background: #8f8f8f;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;


}

.social-links li a i:hover{
	background-color:#cf1407;
	
}

#footer-details{
	margin:20px;
}

/*-------------------------Media Queries---*/

@media screen and (max-width:800px){
.menubar{
	color:#93b0c3;          /*Darkgrey*/
}
.menubutton{
	background:#cf1407;	/* Fire red colour for menu buttons in mobile*/
}
.menubar span {
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 1.5px;
}
}

@media screen and (min-width:800px){
img{
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    padding:0 15% ;
}
footer {
	min-height: 100px;
}
}

@media screen and (min-width:1200px)
{
.menubutton{
	background:#5878ea;	/* Royal blue colour for menu buttons in mobile*/
}
}