@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,800|Exo:100,300,400,500,700,800");

/*---apply this to override any other possible uneven margins and paddings*/
*{
	margin:0; 
	padding:0;
}

/*---repeat the tiled image to cover the whole background of any screen---*/

body{
	background: url("/Assets/Images/backgroundtile.jpg") repeat;    
	}

/*--- This width of 100% will apply to all screen widths on all 
images but allows the it to only go as wide as the original image to keep quality.*/

img{
	max-width:100%;
	}
	
/*--------------------------Menu bar-------*/

.menubar{
	color:#966f33;
	opacity:1.5;
	text-align:center;
	font-size-adjust: inherit;
	font-family:fantasy;
	margin-top:2%;
}

.menubutton{
	background:#cf1407;	/* Firered colour for menu buttons before hover*/
	height:75px;        /* use em to make size in relation to font size*/
	width:24%;			 /* 5 buttons at 24% of width of screen with enough room for margin space*/
	margin:0 .5%;
	float: left;
}

/* Target span text ie. Home music event and contact*/

.menubar span {
	display: block;
	width: 100%;
	padding-top: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 100;
	letter-spacing: 2px;
}

/* Target font awesome icons */

.menubutton a {
	font-size:1.5em;
	width: 100%;
	text-decoration: none;
	color: #5878ea;
	height:75px;
}

/* Target the icons themselves adjusting their position size etc
display as block so that it occupies parent container*/

.menuitem a i {
	padding-top: 5px;
	display: block;
	color: #5878ea;
}
/*--------------------------Hvr.css* ----- */

/*Targeting the hvr class- set the default colour using rgba which is colours & transparency*/

.hvr-sweep-to-bottom:before {
	background: rgba(0, 0, 0, 0.25);
	height: 75px;
}

/*--------------------------Images*/


/*-------------------------Media Queries---*/

@media screen and (max-width:800px){
.menubar{
	color:#966f33;
	text-align:center;
	font-family: "Exo" sans-serif;
	margin-top:2.5px;
}
.menubutton{
	background:#e00004;	/* red colour for menu buttons in mobile*/
	height:3.5em;        
	width:23%;			 
	margin:0 .5% 0 .5%;
	float: left;
}
.menubar span {
	display: block;
	width: 90%;
	padding-top: 2.5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 1.5px;
}
}