@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,800|Exo:100,300,400,500,700,800");

/*--------------------------------- Colors --------------------------------- */

.bg-color-name-title {
	background-color: #212121;
}

.bg-color-maininfo {
	background-color: yellow;
}

.bg-color-contact {
	background-color: #fff;
}

.ui-menu-color-home {
	background-color: #0e080a;
	padding-left: 5px;
}

.ui-menu-color-music {
	background-color: #0e080a;
}

.ui-menu-color-events {
	background-color: #0e080a;
}

.ui-menu-color-contactus {
	background-color: #0e080a;
}

/*--------------------------------- Special Paddings/Margins/texts/ -- */

/*Set margins for our headings*/

h1,
h2,
h3{
	margin:0;
	text-align:left;
}
h4 {
	margin: 0;
	text-align: center;
}

/*-set the text transform to be uppercase
set the general-sub to 'Exo' font imported earlier--*/

.uppercase {
	text-transform: uppercase;
}

.general-sub {
	font-family: "Exo", "vintage";
}

.minilogo {
	background: url("/Assets/Images/cover pic.jpg");
 	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height:40%;
	min-width:100%;
	transition: all 0.5 ease-out;
	-moz-transition: all 0.5 ease-out;
	-webkit-transition: all 0.5 ease-out;
}
 
.inline-block {
	display: inline-block;
}

/*specify its child columns as table cells and by doing that we
ensure that the columns will remain equal height regardless of their content*/

.row-table {
	display:table-cell;
	}

/*-------------------------style the font for the maininfo section*/

.list-inline li {
	display: inline-block;
	padding-left:5px;
	padding-right:5px;
}

.logo {
	background: url("/Assets/Images/cover pic.jpg");
	background-color: yellow;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	
	transition: all 0.5 ease-out;
	-moz-transition: all 0.5 ease-out;
	-webkit-transition: all 0.5 ease-out;
}


/*--------------------------------- Header --- */

/*Target the children of our nav which is he list items 
to adjust the padding in the hvr class*/

#nav li {
	padding: 0;
}

.menuitem {
	height: 75px;
	text-align: center;
	padding: 0;
}

/* Target font awesome icons */

.menuitem a {
	width: 100%;
	text-decoration: none;
	color: #c48b1a;
	height:75px;
}

/* Target the icons themselves adjusting their position size etc
display as block so that it occupies parent container*/

.menuitem a i {
	padding-top: 15px;
	display: block;
	color: #c48b1a;
	font-size: 25px;
}

/* Target span text ie. Home music event and contactus*/

.menuitem span {
	display: block;
	width: 100%;
	padding-top: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 2px;
}

/*--------------------------Hvr.css* ----- */

/*Targeting the hvr class- set the default colour using rgba which is colours & transparency*/

.hvr-sweep-to-bottom:before {
	background: rgba(0, 0, 0, 0);
	height: 75px;
}

/*--------------------------Footer----- */

/*minimum height of 120px.
Now it can grow beyond that if the text if for some reason the maintext section extends or pushes below or 
our pushes beyond the 120px. But if not it will default to 120px again providing that kind of visual symmetry, 
visual balance between the footer and say, the menu items above.*/

footer {
	background-color: #525252;
	color: #fafafa;
	min-height: 150px;
	margin-left: 10px;
}

/* let's start adding some styles to our icons
and our text and the display itself.
We're going to go down to footer .cv-pdf i, 
because we're accessing the font awesome icon -
It's a bit small.*/

footer .contactform i {
	color: #fafafa;
	text-align: center;
	font-size: 18px;
	padding-left: 5px;

}


footer .contactform i:hover {
	color: #ffff01;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;

}


/*-------------------------------------------------------Social Links*/
/*Create our custom class called social-links
So the idea is we're going to use a border to create a perfect circle around the edges*/

.social-links {
	padding-bottom: 15px;

}

.social-links li a i {
	width: 32px;
	height: 32px;
	padding: 12px;
	border-radius: 50%;
	font-size: 13px;
	line-height: 7px;
	text-align: center;
	color: #fafafa;
	background: #8f8f8f;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;


}

.social-links li a i:hover{
	background-color:#fafa01;
	
}


/*----------------------------------Main info*/

.section-column{
	background-color: yellow;
	margin-bottom:0px;
}

p{
	margin-left: 15px;
	text-align:center;
}
.mainsection-heading{
	color:#333;
	margin-bottom:50px;
	margin-top:20px;
	text-align: center;
	padding-left:10px;
}


/*-----------------------------------Contacts*/

.contact-heading{
	font-family: "Exo", sans-serif;
	font-weight:300;
	margin-top:25px;
	margin-bottom:20px
}

.center-form{
	padding-top:10px;
	margin:0 auto;
	max-width:50%;
}

button[type="submit"]{
	margin-top:15px;
	margin-bottom:20px;
	background-color: #e84610;
	color:#fafafa;
}
/*-----------------------------------Media Queries*/

/* we're using the min-width rather than the max-width for mobile first.
And we're using the break-point of 992px.
So any screen size beyond 992px - greater than 992px - this section-column will now apply*/

@media(min-width: 992px){
.section-column{
	padding:0px 0px 0px;
	float:none;
	display: inline block;
}
	
.center-form{
	padding-top:30px;
	min-height:240px;
	margin:0 auto;
	max-height:50%;
}
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
.container-fluid {
  margin-right:0 auto;
  margin-left:0 auto;
  padding-left: 0px;
  padding-right: 0px;
}
