@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,800|Exo:100,300,400,500,700,800");

/*--------------------------------- Colors --------------------------------- */

.bg-color-name-title {
	background-color: #212121;
}

.bg-color-three-reasons {
	background-color: #fff;
}

.bg-color-personal-info {
	background-color: #fff;
}

.bg-color-work-history {
	background-color: #fafafa;
}

.bg-color-contact {
	background-color: #fff;
}

.ui-menu-color-home {
	background-color: #0e080a;
	padding-left: 5px;
}

.ui-menu-color-music {
	background-color: #0e080a;
}

.ui-menu-color-events {
	background-color: #0e080a;
}

.ui-menu-color-contactus {
	background-color: #0e080a;
}

/*--------------------------------- Special Paddings/Margins/texts/ -- */

/*Set margins for our headings*/

h1,
h2,
h3,
h4 {
	margin: 0;
}

/*-set the text transform to be uppercase
set the general-sub to 'Exo' font imported earlier--*/

.uppercase {
	text-transform: uppercase;
}

.general-sub {
	font-family: "Exo", sans-serif;
}

.inline-block {
	display: inline-block;
}

/*specify its child columns as table cells and by doing that we
ensure that the columns will remain equal height regardless of their content*/

.row-table {
	display:table;
	margin:0;
}

/*style the font for the About me section*/

.history-heading,
.section-heading{
	font-family:"Exo", sans-serif;
	font-weight: 300;
	margin-top: 25px;
	margin-bottom: 40px;
}


/*--------------------------------- Heading --- */

header {
	margin: 0;
}

.heading {
	margin-left: 50px;
}

.list-inline li {
	display: inline-block;
	padding-left:5px;
	padding-right:5px;
	

}

.logo {
	background: url("/Assets/Images/cover pic.jpg");
	background-color: #333333;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height:100%;
	transition: all 0.5 ease-out;
	-moz-transition: all 0.5 ease-out;
	-webkit-transition: all 0.5 ease-out;
}

#nav {
	margin: 0;
}

/*Target the children of our nav which is he list items 
to adjust the padding in the hvr class*/

#nav li {
	padding: 0;
}

.menuitem {
	height: 75px;
	text-align: center;
	padding: 0;
}

/* Target font awesome icons */

.menuitem a {
	width: 100%;
	text-decoration: none;
	color: #c48b1a;
	height:120px;
}

/* Target the icons themselves adjusting their positions ize etc
display as block so that it occupies parent container*/

.menuitem a i {
	padding-top: 15px;
	display: block;
	color: #c48b1a;
	font-size: 25px;
}

/* Target span text ie. Home Resume Contact and Download*/

.menuitem span {
	display: block;
	width: 100%;
	padding-top: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 2px;
}

/*--------------------------Hvr.css* ----- */

/*Targeting the hvr class- set the default colour to black using rgba which is colours & transparency*/

.hvr-sweep-to-bottom:before {
	background: rgba(0, 0, 0, 0);
	height: 100px;
}

/*--------------------------Footer----- */

/*minimum height of 120px.
Now it can grow beyond that if the text if for some reason the About Me text extends or pushes below or 
our pushes beyond the 120px. But if not it will default to 120px again providing that kind of visual symmetry, 
visual balance between the footer and say, the menu items above.*/

footer {
	background-color: #525252;
	color: #fafafa;
	min-height: 150px;
	margin: 0;
}

/* let's start adding some styles to our icons
and our text and the display itself.
We're going to go down to footer .cv-pdf i, 
because we're accessing the font awesome icon -
It's a bit small.*/

footer .cv-pdf i {
	color: #fafafa;
	text-align: center;
	font-size: 18px;
	padding-left: 5px;

}


footer .cv-pdf i:hover {
	color: #ffff01;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;

}

/*Create our custom class called social-links
So the idea is we're going to use a border to create a perfect circle around the edges*/

.social-links {
	padding-bottom: 15px;

}

.social-links li a i {
	width: 32px;
	height: 32px;
	padding: 12px;
	border-radius: 50%;
	font-size: 13px;
	line-height: 7px;
	text-align: center;
	color: #fafafa;
	background: #8f8f8f;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;


}

.social-links li a i:hover{
	background-color:#fafa01;
	
}

#footer-details{
	margin:20px;
}

/*----------------------------------Three-Reasons*/

.three-reasons-icon{
	font-size:26px;
	color:#e67e22;
	
}

.three-reasons-heading{
	margin-bottom:15px;
}

/*-----------------------------------Personal-info*/

.personal-info-item{
	margin-top: 15px;
	margin-bottom: 20px;
	display: block;
	clear:both;
}

.personal-info-item .key,
.personal-info-item .value {
	padding-right:8px;
}

.personal-info-item .key p,
.personal-info-item .value p {
	margin:0;
}

.personal-info-item .key {
	display: inline-block;
	width:30%;
	margin-right:21px;
	padding-top:2px;
	vertical-align:top;
}

.personal-info-item .key p{
	font-weight:700;
}

.personal-info-item .value{
	display:inline-block;
	position:relative;
	width:60%;
}

/*-----------------------------------Skills*/

.progress{
	position:relative;
	height:25px;
}

.progress-type{
	position:absolute;
	left:0px;
	font-weight:400;
	padding:0 30px 2px 10px;
	color:#fafafa;
	background-color:rgba(25,25,25,0.2);
}

.progress-section{
	margin:40px 20px 10px;
}
/*-----------------------------------Work History*/

.timeline-item{
	padding:4em 2em 0em 2em;
	position: relative;
	color: #333333;
	border-left:1px solid;
}

.timeline-item p{
	padding:0;
	margin:0;
}
/*------------------ We're going to set a date range that will
eventually be styled - grabbed by a style - using the ::before pseudo element and will
represent the dates along the timeline. */

.timeline-item:before{
	content:attr(dates);
	position:absolute;
	left:2.5em;
	top:3em;
	display:block;
	font-family: "Exo" sans-serif;
	font-weight:500;
	font-size:.8em;
	padding:0;
	margin:0;
}

.timeline-item:after{
	width:12px;
	height: 12px;
	display:inline-block;
	top:2.4em;
	position:absolute;
	left: -6px;
	border-radius:12px;
	content:'';
	background:#333333;
}

.history-heading{
	color:#333;
	margin-bottom:50px;
	margin-top:30px;
}

.history-items{
	margin-bottom:15px;
	}
	
	
/*-----------------------------------Contacts*/

.contact-heading{
	font-family: "Exo", sans-serif;
	font-weight:300;
	margin-top:25px;
	margin-bottom:20px
}

.center-form{
	padding-top:10px;
	margin:0 auto;
	max-width:50%;
}

button[type="submit"]{
	margin-top:15px;
	margin-bottom:20px;
	background-color: #e84610;
	color:#fafafa;
}
/*-----------------------------------Media Queries*/

/* we're using the min-width rather than the max-width for mobile first.
And we're using the break-point of 992px.
So any screen size beyond 992px - greater than 992px - this section-column will now apply*/

@media(min-width: 992px){
.section-column{
	padding:0px 0px 0px;
	float:none;
	display: table-cell;
}
	
.center-form{
	padding-top:30px;
	min-height:240px;
	margin:0 auto;
	max-height:50%;
}
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
